<h1> Tweety ??</h1>
<center>
	<h3>
		Hey there! What's on your mind?? <br/>
		Cm'on, express yourself by your tweets <br/>
	</h3>
</center>

<p>
	<ul>
		<li>
			We provide you a platfrom for real time social networking to discover various events and trends in everyday life.
		</li>

		<li>
			You can share a micropost of 140 characters (less ?? Cm'on Sweet things come in small packages!!) to speak out what do you think.
		</li>
	</ul>
</p>

