<h1>Help center</h1>

<p>
	<ul>
		<li>
			<ul><h3> How to create an account </h3>
				<li>
					Go to <a href="http://localhost:3000" target=_blank>http://localhost:3000</a> and then click Sign up now! button or go to <a href="http://localhost:3000/signup" target=_blank>http://localhost:3000/signup</a> directly
				</li>
				<li>
					Fill in your name, email id and password
				</li>
				<li>
					Note that you can associate only one tweety account per email id
				</li>
				<li>
					Now you can login using your email id and password by going to <a href="http://localhost:3000/signin" target=_blank>http://localhost:3000/signin</a>
				</li>
			</ul>
		</li>
		<br/>
		<li>
			<ul><h3>How to edit your profile</h3>	
				<li>
					You can edit your profile by loggin and then clicking Settings
				</li>
				<li>
					You can update your name,email id and password. You can also set url for you to view your public profile<br>
					(Eg. if your url is bob, then you can view your profile using <u>http://localhost:3000/users/bob</u>  <br/>Cool!)
				</li>
			</ul>
		</li>
		<br/>
		<li>
			<ul><h3>How to follow and unfollow users</h3>
				<li>
					First sign in and then click Users link to view all users
				</li>
				<li>
					Click on the desired user link to view her/his profile 
				</li>
				<li>
					On his profile, click Follow or Unfollow button to follow or unfollow her/him respectively
				</li>
			</ul>
		</li>
	</ul>
</p>